@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=MuseoModerno:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Jost, sans-serif;
    font-weight: 400;
    color: #384F62;
}

/* headings and logo */

h1, h2 {
    font-family: MuseoModerno, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #384F62;
}

header{
    width: 100%;
    height: 250px;
    background: url(../images/knife.jpg) no-repeat left center;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    margin-top: 80px;
}

/* navigation links */

#menu, #logo {
    line-height: 75px;
    color: aliceblue;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#menu {
    font-size: 180%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 80px;
}

#menu a {
    text-decoration: none;
    color: aliceblue;
}

#menu a:hover{
    color: rgb(160, 162, 162);
}

/* main section*/
/* O grid vai ter 3 colunas e dois rows*/
.main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
}
.circle {
    border-radius: 50%;
    width: 210px;
    height: 210px;
    margin: 30px;
}

/* .shadow {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 30px;
    color: rgba(255, 255, 255, .6);
} */

h2 {
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
    line-height: 30px;
}

p {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

#south {
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
    margin: 10px;
    background: turquoise;
}

img {
    grid-column:  2 ;
    grid-row: 1 / span 2;
    justify-self: center;
}

#north-east {
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    background: green;
}

#north {
    grid-column: 1;
    grid-row: 1 / span 2;
    justify-self: center;
    background: yellow;
}

#midwest {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    background: red;
}

#southeast {
    grid-column: 3;
    grid-row: 2;
    justify-self: center;
    background: blue;
}

/* footer*/
footer {
    width: 100%;
    height: 250px;
    background: url(../images/knife.jpg) no-repeat bottom center;
}

.social-medias {
    text-align: center;
}
.social-medias > li {
    display: inline;
}

.social-medias i{
    font-size: 250%;
    margin: 1%;
    padding: 5%;
    color: aliceblue;
}

.social-medias i:hover {
    color: rgb(160, 162, 162);
}